doctype html
fieldset
    label(for='username') Username:
    input(type= 'text' name='username')
fieldset 
    label(for='password') Password: 
    input(type='password' name='password')
    label(for='confirm-password') Confirm Password 
    input(type='password' name='confirm-password')
