doctype html 

    h1 Sign Up for Members Only 
    
    form(method='POST' action='')
        fieldset 
            label(for='first-name') First Name: 
            input(type='text' name='first-name')
            label(for='last-name') Last Name
            input(type='password' name='last-name')
        fieldset
            label(for='username') Username:
            input(type= 'text' name='username')
        fieldset 
            label(for='password') Password: 
            input(type='password' name='password')
            label(for='confirm-password') Confirm Password 
            input(type='password' name='confirm-password')
